$cor-padrao: darken(#c24e4b, 20%);/*escurecer cor com o comando darken em SASS*/
$cor-auxiliar: #1e2c35;
$cor-branca: #fff;

$ponto-de-quebra: 980px;
$mq-mobile: "(max-width: 980px)";

$tamanho-da-fonte-padrao: 16px;